body{
	background:url(101_0802.JPG);
	background-size:100%;
	background-repeat:no-repeat;
}
header{
	font-size:70px;
	padding:10px;
	float:left;
	font-weight:bold;
	color:#04053c;
	font-style: italic;
	font-family: initial;
}
#body{
	width:400px;
	height:auto;
	padding:15px;
	float:inherit;
}