body{
	background:url(101_0802.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
}
#log{
	width:25%;
	padding:15px;
	float:right;
	padding-right:30px;
}
header{
	font-size:70px;
	padding:15px;
	float:left;
	font-weight:bold;
	color:#04053c;
	font-style: italic;
	font-family: initial;
}
#create{
	font-size:36px;
}
#create a{
	color: #000a56;
	text-decoration: none;
	background-color:transparent;
	font-family: initial;
	font-style: italic;
}
#create a:hover{
	color:white;
	text-decoration:underline;
}
#create img{
	position:relative;
	height:200px;
	width:150px;
	padding:5px;
}